<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!isLoading">
    <div class="pageTextColor pageTitle">PEOPLES + AERISTS</div>
    
</div>
<div class="cards_wrap">
    <div class="card_item" *ngFor="let avatarlist of peopleResultList; let i = index">
        <div class="card_inner" (click)="callDialog(avatarlist,i+1)">
            <img src="../../../assets/peoples/{{avatarlist.name}}.png">
            <div class="card-data">
                <div class="role_name">{{avatarlist.name}}</div>
                <div class="film"><span class="nameTitles">Birth Year : </span> {{avatarlist.birth_year}}</div>
                <div class="film"><span class="nameTitles">Skin Color : </span>{{avatarlist.skin_color}}</div>
                <div class="film"><span class="nameTitles">Eye Color : </span> {{avatarlist.eye_color}}</div>
                <div class="film"><span class="nameTitles">Hair Color : </span> {{avatarlist.hair_color}}</div>
                <div class="film"><span class="nameTitles">Home World : </span> {{avatarlist.homeworld}}</div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loaderMain" *ngIf="isLoading">
    <img src="../../../assets/Images/loading.gif" class="loaderCLass">
</div>
