.cards_wrap .card_item {
    padding: 10px 10px !important;
    width: 40rem !important;
}
.cards_wrap .card_item img {
    height: 200px !important;
}
.cards_wrap .card_inner{
    min-height: 400px !important;
}